h1 {
  color: #0060A9;
}

main {
  width: 100%;
  margin: auto;
  margin-top: 125px;
  margin-bottom: 5px;
}

/*==== ==== ==== ==== ==== ==== ==== ====*/
/*==== ==== ==== HOME PAGE ==== ==== ====*/
/*==== ==== ==== ==== ==== ==== ==== ====*/
/*====SECTION 1====*/
.section1 {
  text-align: center;
}

.section1 > h1 {
  font-family: PT Serif;
  font-size: 62px;
  color: #0060A9;
  text-align: center;
  margin: 25px 0;
}

.section1 > h1 > span {
  letter-spacing: 3px;
}

.section1 > p {
  width: 900px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.link_button {
  background-color: #0060A9;
  color: #fffcf2;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: inset 0 0 0 0 #0a78cc;
  transition: box-shadow 0.4s;
  border-radius: 5px;
}

.link_button:hover {
  box-shadow: inset 170px 0 0 0 #0a78cc;
}

/*====SECTION 2====*/
.section2 {
  text-align: center;
  margin-top: 50px;
}

.container_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  grid-gap: 4rem;
}

.icon_button {
  text-align: center;
  margin: auto;
  color: #0060A9;
  padding: 10px 20px;
  border-top: 4px solid #0060A9;
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 #0060A9;
  transition: box-shadow 0.2s ease-in, color 0.15s;
  width: 200px;
}

.icon_button:hover {
  box-shadow: inset 0 100px 0 0 #0060A9;
  color: white;
}

.icon_button > i {
  font-size: 40px;
}

/*====SECTION 3====*/
.section3 {
  overflow: hidden;
  width: 75%;
  margin: auto;
  margin-top: 100px;
}

.info_text {
  position: absolute;
  width: 50%;
  background-color: #0060A9;
  color: white;
  z-index: 100;
  margin-top: 270px;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: rgba(38, 57, 77, 0.781) 10px 10px 15px -10px;
  padding-bottom: 30px;
}

.info_text > p {
  margin: 15px;
  margin-bottom: 25px;
}

.info_text > h1 {
  color: white;
  font-size: 48px;
}

.foto > img {
  width: 575px;
  float: right;
  border-radius: 5px;
}

/*==== SECTION 4====*/
.section4 {
  margin-top: 50px;
  background-color: #0060A9;
  color: white;
}

.section4 > div > h1 {
  color: white;
  margin-bottom: 25px;
  font-size: 48px;
}

.section4 > div {
  width: 60%;
  margin: auto;
  padding: 30px 0;
}

.section4 > div > p {
  margin-bottom: 50px;
}

.link_container {
  width: 100%;
}

.link_container > a {
  background-color: white;
  color: #0060A9;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #0a78cc;
  transition: box-shadow 0.3s, color 0.2s;
}

.link_container > a:hover {
  box-shadow: inset 280px 0 0 0 #0a78cc;
  color: white;
}

.link_container_center {
  width: 100%;
  text-align: center;
}

.link_container_center > a {
  background-color: white;
  color: #0060A9;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #0a78cc;
  transition: box-shadow 0.3s, color 0.2s;
}

.link_container_center > a:hover {
  box-shadow: inset 280px 0 0 0 #0a78cc;
  color: white;
}

@media screen and (max-width: 1450px) {
  .container_icons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .i9 {
    grid-column: 2/2;
  }
}
@media screen and (max-width: 1180px) {
  .container_icons {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .i9 {
    grid-column: 3/3;
  }
  .i10 {
    grid-column: 2/2;
  }
}
@media screen and (max-width: 900px) {
  .container_icons {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .i9 {
    grid-column: 1/1;
  }
  .i10 {
    grid-column: 2/2;
  }
}
@media screen and (max-width: 700px) {
  .container_icons {
    width: 95%;
  }
  .icon_button {
    font-size: 16px;
    width: 150px;
  }
}
@media screen and (max-width: 650px) {
  .section1 > p {
    width: 90%;
  }
}
/*==== ==== ==== ==== ==== ==== ==== ==== ====*/
/*==== ==== ==== OVER ONS  PAGE ==== ==== ====*/
/*==== ==== ==== ==== ==== ==== ==== ==== ====*/
/* ==== Algemeen ==== */
.over_ons_p {
  margin: 25px;
}

.over_ons_h1 {
  color: white;
  font-size: 48px;
}

/*==== FOTO ====*/
.over_ons_foto > img {
  width: 575px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.over_ons_section1 {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

/* ==== Text 1 ==== */
.over_ons_info_text {
  position: absolute;
  width: 50%;
  background-color: #0060A9;
  color: white;
  z-index: 100;
  margin-top: 70px;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: rgba(38, 57, 77, 0.603) -15px 15px 30px -12px;
  right: 200px;
}

/*==== Text 2 ====*/
.over_ons_info_text2 {
  position: absolute;
  right: 260px;
  width: 40%;
  margin-top: 300px;
}

/* ==== COLORS ==== */
.blue {
  color: #0060A9;
}

/*==== ==== ==== ==== ==== ==== ==== ==== ====*/
/*==== ==== ==== CONTACT   PAGE ==== ==== ====*/
/*==== ==== ==== ==== ==== ==== ==== ==== ====*/
/* ==== CONTACT FORM ==== */
.over_ons_title {
  text-align: center;
  margin: 25px;
  margin-bottom: 50px;
  font-size: 56px;
}

.contact_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.contact_form_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.contact_form_container > textarea {
  grid-column: 1/3;
}

.contact_form {
  width: 100%;
  background-color: #0060A9;
  padding: 35px;
  border-radius: 5px;
  block-size: -moz-fit-content;
  block-size: fit-content;
}

.contact_form_container > textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 250px;
  height: 100px;
}

.contact_form_container > input, textarea, select {
  font-size: 20px;
  padding: 5px 10px;
  border: none;
}

.contact_form_container > input:focus, textarea:focus, select:focus {
  outline: 4px solid #02406e;
}

.contact_input_button {
  text-align: center;
}

.contact_input_button > input {
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 1rem;
}

/* ==== CONTACT INFO ==== */
.contact_info {
  width: 100%;
}

.contact_info_container > div > h2 {
  color: #0060A9;
  margin-top: 10px;
}

.contact_info_container > div > p > a {
  color: #024c85;
}

.contact_maps {
  margin-top: 25px;
  margin-bottom: 40px;
}/*# sourceMappingURL=main.css.map */